<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WESTERN</title>
</head>
<body>
  <center>
    <h1>"WELCOME TO MY STYLES"</h1>
      <a href="#" target="_blank">Home</a><br>
      <a href="#" target="_blank">About</a><br>
      <a href="#" target="_blank">Contact</a><br>
      <a href="#" target="_blank">careers</a><br>
      <caption><b>Indain Heroines</b></caption><br>

      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRBcMDhUGeGtD__BYFQ_7mcIIr7qazNK3a6oSX9qy_1YRjT4Byh&usqp=CAU"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRBcMDhUGeGtD__BYFQ_7mcIIr7qazNK3a6oSX9qy_1YRjT4Byh&usqp=CAU" height="100px" width="100px"></a>
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQyZJn3goD7vADXXQNIq3WNDHurG55Cii6loEKr1kHTUGiytaR3&usqp=CAU" target="_blank" rel="noopener noreferrer"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQyZJn3goD7vADXXQNIq3WNDHurG55Cii6loEKr1kHTUGiytaR3&usqp=CAU" height="100px" width="100px"></a>
      <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1XHsJ5bwiVU2jnvyCRXtxscXQk8Y3iux7eVHhFbmlvhQl8lCJ&usqp=CAU" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1XHsJ5bwiVU2jnvyCRXtxscXQk8Y3iux7eVHhFbmlvhQl8lCJ&usqp=CAU" height="100" width="100"></a>    
      <a href="https://m.media-amazon.com/images/M/MV5BMTY1NzE0ODkzNl5BMl5BanBnXkFtZTcwMDQ2OTAzMQ@@._V1_UY256_CR6,0,172,256_AL_.jpg" target="_blank"><img src="https://m.media-amazon.com/images/M/MV5BMTY1NzE0ODkzNl5BMl5BanBnXkFtZTcwMDQ2OTAzMQ@@._V1_UY256_CR6,0,172,256_AL_.jpg" height="100px" width="100px"></a>
  </center>
</body>
</html>